.note {
  text-align: center;
  background: white;
  position: sticky;
  top: 0;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
  padding: 10px;
  box-shadow: 0.5px 0.2px 3px black;
}

.show {
  width: 30%;
  height: 30%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: -11px 18px 36px -16px grey;
}

.title,
.summary,
.image {
  margin: 10px;
}
